<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YachtJet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
        integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <main>
        <section class="rent">
            <div class="rent-container">
                <img class="rent-img" src="/img/rent/rent-yacht.jpg" alt="Rent a yacht now" width="658" height="536">
                <div>
                    <h2 class="rent-title">Rent a yacht now</h2>
                    <form class="rent-form" >
                        <input class="rent-input" type="text" placeholder="Full Name">
                        <input class="rent-input" type="email" placeholder="Email">
                        <input class="rent-input" type="tel" placeholder="Phone number">
                        <textarea class="rent-textarea" name="" id="" placeholder="Comment"></textarea>
                        <button class="rent-btn" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>

</html>