/** -------------- COMMON STYLES -------------- */
body {
    background-color: #0e1823;
}

/* section {
    padding-top: 75px;
    padding-bottom: 75px;
} */

/*? -------------- RENT STYLES --------------*/
.rent {
    padding-top: 75px;
    padding-bottom: 75px;
}

.rent-container {
    display: flex;
    gap: 50px;
    width: 1180px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}

.rent-img {}

.rent-title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 50px;
}

.rent-form {}

.rent-input {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: #fbfbfb;
    width: 100%;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    height: 54px;
    padding-left: 18px;
    background-color: transparent;
    outline: transparent;
    margin-bottom: 18px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-textarea::placeholder,
.rent-input::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: rgba(251, 251, 251, 0.4);
}

.rent-textarea {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: #fbfbfb;
    width: 100%;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    height: 116px;
    padding-left: 18px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 50px;
}

.rent-input:focus,
.rent-textarea:focus {
    border: 1px solid rgba(251, 251, 251, 0.5);
}

.rent-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    border: none;
    border-radius: 15px;
    padding: 18px 75px;
    min-width: 194px;
    padding: 18px 75px;
    background-color: #1b414b;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.rent-btn:hover {
    color: #1b414b;
    background-color: #fbfbfb;
}